# Database connection URL for Postgres (required)
DATABASE_URL=postgresql://<user>:<password>@<host>:<port>/<database>

# Local user ID (single-user mode)
LOCAL_USER_ID=11111111-1111-1111-1111-111111111111

# API Keys (Optional: Entering an API key here overrides the API keys globally.)
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
GOOGLE_GEMINI_API_KEY=
MISTRAL_API_KEY=
GROQ_API_KEY=
PERPLEXITY_API_KEY=
OPENROUTER_API_KEY=

# OpenAI API Organization (Optional)
NEXT_PUBLIC_OPENAI_ORGANIZATION_ID=

# Azure OpenAI configuration (Optional)
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_35_TURBO_ID=
AZURE_OPENAI_45_TURBO_ID=
AZURE_OPENAI_45_VISION_ID=
AZURE_OPENAI_EMBEDDINGS_ID=

# Ollama local endpoint (Optional)
NEXT_PUBLIC_OLLAMA_URL=http://localhost:11434

# File size limit for uploads in bytes
NEXT_PUBLIC_USER_FILE_SIZE_LIMIT=10485760